@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//colors

$blue: #191A34;
$lblue: #EAEBFF;
$yellow: #f2ffa8;
$lyellow: #E7E8DF;
$purple: #B0A6DF;
$lpurple: #F1EDFF;
$green: #5b7915;
$lgreen: #EFF8D9;

body{
  margin: 0;
  padding: 0;
  font-family: poppins;
  color: black;
  background-color: $lblue;
  overflow-x: hidden;
}

.colors{
  .color{
    position: fixed;
    z-index: 3;
  }
}

.colors{
  .color0{
    background-color: $blue;
    width: calc(100vw / 3);
    height: 50vh;
    animation: colorAni1 1s ease 1s 1 forwards;
    top: 0;
    left: 0;
    z-index: 9;
  }
  .color1{
    background-color: $yellow;
    width: calc(100vw / 3);
    height: 50vh;
    top: 0;
    left: calc(100vw / 3);
    animation: colorAni2 1s ease 1s 1 forwards;
    z-index: 8;
  }
  .color2{
    background-color: $purple;
    width: calc((100vw / 3) * 2);
    height: 50vh;
    animation: colorAni3 1s ease 1s 1 forwards;
    bottom: 0;
    left: 0;
  }
  .color3{
    background-color: $green;
    width: calc(100vw / 3);
    height: 100vh;
    bottom: 0;
    right: 0;
    animation: colorAni4 1s ease 1s 1 forwards;
  }
}

@keyframes colorAni1 {
  0%   {width: calc(100vw / 3); height: 50vh;}
  100%  {width: 5vh; height: 100vh;}
}

@keyframes colorAni2 {
  0%   {height: 50vh;  width: calc(100vw / 3); left: calc(100vw / 3);}
  100%  {height: 5vh; width: 100vw; left: 0;}
}

@keyframes colorAni3 {
  0%   {height: 50vh; width: calc((100vw / 3) * 2)}
  100%  {height: 5vh; width: 100vw;}
}

@keyframes colorAni4 {
  0%   { width: calc(100vw / 3);}
  100%  {width: 5vh;}
}

.join{
  background-color: $lpurple;
  .colors{
    .color0{
      background-color: $purple;
    }
    .color1{
      background-color: $blue;
    }
    .color2{
      background-color: $green;
    }
    .color3{
      background-color: $yellow;
    }
  }
  .logo{
    background-color: $purple;
  }
}

.about{
  background-color: $lgreen;
  .colors{
    .color0{
      background-color: $green;
    }
    .color1{
      background-color: $purple;
    }
    .color2{
      background-color: $yellow;
    }
    .color3{
      background-color: $blue;
    }
  }
  .logo{
    background-color: $green;
  }
}


.contact{
  background-color: $lyellow;
  min-height: 100vh;
  .colors{
    .color0{
      background-color: $yellow;
    }
    .color1{
      background-color: $green;
    }
    .color2{
      background-color: $blue;
    }
    .color3{
      background-color: $purple;
    }
  }
  .logo{
    background-color: $yellow;
    position: relative!important;
    z-index: 0;
    display: block;
    transform: none;
    left: auto;
    margin: auto;
    margin-bottom: -100px;
    margin-top: 0;
    mask-position: bottom;
    mask-size: contain;
    height: 550px;
    mask-repeat: no-repeat;
  }
  .content{
    padding-top: 0;
  }
}

.logo{
  width: 500px;
  height: 300px;
  max-width: 90vw;
  max-height: 90vw;
  mask-image: url(/logo.gif);
  background-color: $blue;
  mask-size: 100%;
  mask-position: center;
  top: 52%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

a{
  color: inherit;
  text-decoration: none;
}

.navigation{
  position: fixed;
  top: 10vh;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  a{
    margin: 0 24px;
    font-size: 20px;
    font-weight: 500;
  }
}


.content{
  // min-height: 100vh;
  // padding: 0 8vw;
  padding-top: 160px;
  padding-bottom: 140px;
  p{
    font-family: merriweather;
    line-height: 1.8;
    font-size: 17px;
  }
  ul{
    padding-inline-start: 60px;
  }
  li{
    font-family: merriweather;
    line-height: 1.8;
    font-size: 17px;
    margin-bottom: 24px;
    position: relative;
  }
  ul li{
    list-style-type: none;
    &:before{
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: black;
      margin-left: -50px;
    }
  }
  h2{
    &:before{
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 5px solid black;
      margin-left: -50px;
    }
  }
}

.slides-5{
  width: 90vw!important;
  margin-left: 5vw!important;
  margin-right: 5vw!important;
}

.crop-false.slides{
  // margin-top: 100px;
  mix-blend-mode: multiply;
  .slick-slide {
    img{
      object-fit: contain!important;
      width: 60%;
      margin: auto;
      margin-bottom: 24px;
    }
  }
}

.small-logo{
  width: 40px;
  height: 40px;
}